@font-face {
	font-family: 'ニコモジ＋';
	src: url(../fonts/nicomoji-plus_1.11.ttf);
}
h1 {
  font-family: ニコモジ＋;
  color: #17174d;
	font-size: 30px;
}
h2 {
  font-family: ニコモジ＋;
  color: white;
	font-size: 30px;
}
h3 {
  font-family: ニコモジ＋;
  color: white;
	font-size: 20px;
}
p {
	font-size: 15px;
}
.white {
	color: white;
}
.blue-back {
	background-color: #2F68B1;
	border-bottom: 1px dashed white;
}
.lightblue-back {
	background-color: #5799CF;
	border-bottom: 1px dashed white;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo--image {
  height: 70px;
  margin: 0 10px;
}
.header__menu {
  list-style: none;
  display: flex;
}
.header__menu li a div {
  font-size: 17px;
  width: 150px;
  height: 70px;
	font-family: ニコモジ＋;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
	color: white;
}
.header__menu li a div:hover {
  background-color: #5799CF;
}

.main__top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
	padding: 30px 0;
}
.top__message p {
  color: #17174d;
	padding-top: 10px;
}
.top__img {
	display: flex;
	justify-content: center;
}
.top__img--img {
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.main__body {
  width: 100%;
}
.contents {
  padding: 50px 0;
	width: 90%;
}
.numbers__list {
  padding: 10px;
  display: flex;
  align-items: center;
}
.numbers__list p {
	font-family: ニコモジ＋;
	color: white;
}
.numbers__list span {
	color: white;
  font-size: 35px;
	font-family: ニコモジ＋;
}
.numbers__img {
  width: 80px;
	margin-right: 7px;
}

/* .steps {
  padding: 50px;
}
.steps__list {
  display: flex;
  justify-content: space-around;
}
.steps__list div {
  background-color: #2F68B1;
  height: 300px;
  width: 300px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
} */
.twitter-timeline {
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
.amari {
	border: 1px solid white;
	height: 400px;
}

.features__list {
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features__list i {
  color: #FFF27B;
}
.features__list div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.features__list p {
	color: white;
	text-align: left;
}
.star {
	font-size: 15px;
}
.github {
	font-size: 75px;
}
.social-count {
	padding-left: 3px;
}

footer {
  height: 80px;
  width: 100%;
}
