h1 {
  font-family: 'HiraKakuPro-W6';
  color: #EBEDEF;
}
h2 {
  font-family: 'HiraKakuPro-W6';
  color: #EBEDEF;
  /* text-align: center; */
}
h3 {
  font-family: 'Hiragino Kaku Gothic Pro';
  color: #EBEDEF;
}
h4 {
  font-family: 'Hiragino Kaku Gothic Pro';
  color: #EBEDEF;
}

header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 30px;
  display: flex;
  align-items: center;
}
.header__logo--image {
  width: 70px;
  height: 70px;
}
.header__menu {
  list-style: none;
  display: flex;
}
.header__menu li a div {
  color: #9AA3AF;
  font-size: 15px;
  width: 150px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}
.header__menu li a div:hover {
  background-color: #161B36;
}

.main__top {
  background-color: #0B1026;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top__message h1 {
  font-size: 30px;
}
.top__message p {
  color: #9AA3AF;
  font-size: 15px;
}
.top__img--img {
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.main__body {
  background-color: #161B36;
  height: 140vh;
  width: 100%;
  border-bottom: 1px solid grey;
}
.main__body h2 {
  font-size: 25px;
}
.main__body h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.main__body p {
  color: #9AA3AF;
  font-size: 15px;
}
.numbers {
  padding: 50px;
}
.numbers__list {
  display: flex;
  justify-content: space-around;
}
.numbers__list div {
  width: 300px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.numbers__list h3 {
  font-size: 20px;
}
.numbers__list span {
  color: white;
  font-size: 30px;
}
.numbers__list i {
  color: orangered;
}

.steps {
  padding: 50px;
}
.steps__list {
  display: flex;
  justify-content: space-around;
}
.steps__list div {
  background-color: #0B1026;
  height: 300px;
  width: 300px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.features {
  padding: 50px;
}
.features__list {
  display: flex;
  justify-content: space-around;
}
.features__list div {
  height: 300px;
  width: 300px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features__list div i {
  color: orangered;
  margin-bottom: 20px;
}

.features__list--time div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  background-color: #161B36;
  height: 80px;
  width: 100%;
}
